.advantages-wrapper {
  background-image: url("../img/background-of-advantages-desctop.png");
  text-align: center;
  padding-bottom: 104px;
  color: $black-color;
}

.advantages-wrapper__title {
  margin-top: 0;
  margin-bottom: 49px;
  padding-top: 111px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* or 42px */
  letter-spacing: 1.5px;
}

.advantages-wrapper__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.advantages-wrapper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 241px;
  margin-right: 40px;
  text-align: left;
  background-color: $header-color;
}

.advantages-wrapper__item-svg {
  position: absolute;
  content: "";
  left: 30px;

  &--ship {
    top: 29px;
  }

  &--tick {
    top: 34px;
  }

  &--boat {
    top: 37px;
  }
}

.advantages-wrapper__item-title {
  margin-bottom: 4px;
  margin-top: 27px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  &--ship {
    margin-top: 47px;
    margin-bottom: 0;
    letter-spacing: 1.7px;
  }

  &--tick {
    margin-top: 45px;
    letter-spacing: 1.35px;
  }

  &--boat {
    margin-top: 64px;
    letter-spacing: 1.65px;
  }
}

.advantages-wrapper__item-text {
  padding-left: 30px;
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  &--ship {
    margin-top: 8px;
    padding-right: 20px;
    letter-spacing: 1px;
  }

  &--tick {
    padding-right: 50px;
    letter-spacing: 0.9px;
  }

  &--boat {
    padding-right: 80px;
    letter-spacing: 0.9px;
  }
}
