.booking-wrapper {
  display: flex;
  min-height: 555px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../img/booking-background-desctop.png");
  background-repeat: no-repeat;
}

.booking-wrapper__discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  padding-right: 83px;
}

.booking-wrapper__discount-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  letter-spacing: 2.7px;
}

.booking-wrapper__discount-text {
  width: 352px;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 1px;
}

.booking-wrapper__feedback {
  display: block;
  width: 403px;
  height: 455px;
  margin-left: 63px;
  background-color: $black-color;
}

.booking-wrapper__feedback-fieldset {
  margin-left: 35px;
  padding-bottom: 0;
  padding-top: 0;
  border-style: none;

  &--checkbox {
    padding-bottom: 29px;
  }
}

.booking-wrapper__feedback-text {
  padding-top: 43px;
  padding-right: 30px;
  padding-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $header-color;
  letter-spacing: 1.3px;
}

.booking-wrapper__feedback-input {
  display: block;
  width: 299px;
  height: 41px;
  margin-left: 2px;
  margin-bottom: 20px;
  background-color: $header-color;
  border-style: none;

  &::placeholder {
    padding-left: 15px;
    letter-spacing: 1.1px;
  }

  &::-ms-value {
    padding-left: 15px;
  }
}

.booking-wrapper__feedback-input-checkbox {
  display: none;
}

.booking-wrapper__feedback-label-span {
  margin-top: 0;
  margin-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  /* or 13px */
  color: $header-color;
  letter-spacing: 0.64px;
}

.booking-wrapper__feedback-label-checkbox {
  position: relative;
  margin-top: 0;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: $header-color;
    cursor: pointer;
  }
}

.booking-wrapper__feedback-input-checkbox:checked + .booking-wrapper__feedback-label-checkbox::before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/Checkend.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  border: 1px solid #101A56;
}

.booking-wrapper__feedback-button {
  display: block;
  width: 303px;
  height: 43px;
  margin-left: 49px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  background-color: $header-color;
  border-style: none;
  letter-spacing: 0.5px;
}



