.contacts-wrapper {
  display: flex;
  width: 1255px;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 72px;
  padding-right: 70px;
}

.contacts-wrapper__elem-map {
  display: block;
  width: 560px;
  height: 306px;
  margin-right: 65px;
  margin-left: 15px;
}

.contacts-wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
  padding-bottom: 20px;
}

.contacts-wrapper__info-text {
  display: flex;
  padding-right: 30px;
  margin-top: 23px;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 1.27px;
}

.contacts-wrapper__info-adress {
  margin-top: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: 1.27px;
}

.contacts-wrapper__info-adress-svg {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 5px;
}

.contacts-wrapper__info-phone {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
}

.contacts-wrapper__info-phone-svg {
  margin-right: 8px;
}

@media (max-width: $table) {
  .contacts-wrapper {
    width: 736px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-right: 0;
    padding-bottom: 98px;
    padding-top: 102px;
    padding-left: 30px;
  }

  .contacts-wrapper__elem-map {
    margin-right: 30px;
    width: 832px;
    height: 335px;
  }

  .contacts-wrapper__info {
    padding-top: 0;
  }

  .contacts-wrapper__info-text {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .contacts-wrapper__info-adress {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .contacts-wrapper__info-adress svg {
    width: 25px;
    height: 22px;
    margin-right: 10px;
  }

  .contacts-wrapper__info-phone {
    margin-top: 0;
  }
}
