.contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 120px;
  padding-right: 50px;
}

.contacts-wrapper__elem-map {
  display: block;
  margin-left: 52px;
}

.contacts-wrapper__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 56px;
  padding-bottom: 20px;
}

.contacts-wrapper__info-text {
  display: block;
  width: 500px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 1.27px;

}

.contacts-wrapper__info-adress {
  position: relative;
  margin-top: 15px;
  padding-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: 1.27px;
}

.contacts-wrapper__info-adress-svg {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
}

.contacts-wrapper__info-phone {
  position: relative;
  margin-top: 5px;
  padding-left: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
}

.contacts-wrapper__info-phone-svg {
  position: absolute;
  content: "";
  top: 2px;
  left: -2px;
}
