.contacts-wrapper {
  width: 100%;
}

.contacts-wrapper__center {
  display: flex;
  max-width: 1366px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 103px;
  padding-right: 53px;
}

.contacts-wrapper__elem-map {
  display: block;
  width: 560px;
  height: 306px;

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.contacts-wrapper__info {
  display: block;
  width: 552px;

  & h3 {
    display: flex;
    padding-right: 30px;
    margin-top: 76px;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    letter-spacing: 1.27px;
  }

  & p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: 1.27px;
  }

  & p svg {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 5px;
  }

  & a {
    margin-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-decoration: none;
    color: $black-color;
  }

  a svg {
    margin-right: 8px;
  }
}

@media (max-width: $table) {
  .contacts-wrapper {
    width: 100%;
    margin: 0;
  }

  .contacts-wrapper__center {
    max-width: 768px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 45px;
    padding-bottom: 98px;
    padding-top: 102px;
    padding-left: 45px;
  }

  .contacts-wrapper__elem-map {
    width: 324px;
    height: 335px;
  }

  .contacts-wrapper__info {
    width: 324px;
    padding-top: 0;
    margin-top: 64px;

    & h3 {
      margin-top: 0;
      margin-bottom: 28px;
      padding-right: 0;
    }

    & p {
      display: flex;
      flex-direction: row;
      margin-top: 0;
    }

    & p svg {
      width: 25px;
      height: 22px;
      margin-right: 10px;
    }

    & a {
      margin-top: 0;
    }
  }
}

@media (max-width: $mobile) {
  .contacts-wrapper {
    width: 100%;
  }

  .contacts-wrapper__center {
    max-width: 320px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    padding-top: 58px;
  }

  .contacts-wrapper__info {
    width: 100%;

    & h3 {
      padding-right: 15px;
      margin-bottom: 28px;
    }

    & p {
      margin-bottom: 20px;
    }

    & p svg {
      width: 29px;
    }

    & a svg {
      width: 26px;
      margin-right: 0;
    }
  }

  .contacts-wrapper__elem-map {
    width: 290px;
    height: 316px;
    margin-left: 0;
    margin-right: 0;
    order: 2;
  }
}
