.directions-wrapper {
  width: 100%;
  margin: 0 auto;

  & h2 {
    margin-bottom: 51px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */
    letter-spacing: 1.7px;
  }
}

.directions-wrapper__center {
  display: flex;
  max-width: 1366px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 108px;
  padding-bottom: 90px;
  padding-left: 103px;
  padding-right: 103px;
}

.directions-wrapper__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
  list-style: none;
}

.directions-wrapper__item {
  position: relative;
  display: block;
  width: 260px;
  height: 386px;
  margin-bottom: 30px;
  color: $header-color;

  &:hover p,
  &:hover h4 {
    display: block;
  }

  &:hover h3 {
    margin-top: 0;
  }

  &:hover .direction-wrapper__info-details {
    background-color: $black-color;
    padding-bottom: 35px;
    padding-left: 25px;
  }

  &:hover .directions-wrapper__info-button {
    display: block;
  }
}

.direction-wrapper__info-details {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
  padding-left: 32px;
  padding-right: 25px;
  padding-bottom: 22px;
  background-color: transparent;
  opacity: 1;
  z-index: 0;

  & h3 {
    margin-top: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    letter-spacing: 1.3px;
  }

  & h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    letter-spacing: 1.3px;
    display: none;
  }

  & p {
    margin-top: 0;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: $text-item;
    letter-spacing: 1px;
    display: none;
  }
}

.directions-wrapper__info-button {
  display: none;
  width: 210px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  background-color: $header-color;
  letter-spacing: 0.85px;
  border-style: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: $link-hover;
    cursor: pointer;
  }
}

@media (max-width: $table) {
  .directions-wrapper {
    max-width: 768px;
    width: 100%;
    padding-top: 83px;
    padding-bottom: 54px;

    & h2 {
      margin-top: 5px;
      font-size: 26px;
      line-height: 39px;
    }
  }

  .directions-wrapper__item {
    width: 309px;

    & picture img {
      width: 309px;
    }
  }
}

@media (max-width: $mobile) {
  .directions-wrapper {
    max-width: 320px;
    width: 270px;
    padding-top: 53px;
    padding-bottom: 19px;
    padding-left: 25px;
    padding-right: 25px;

    & h2 {
      margin-top: 4px;
      margin-bottom: 30px;
      text-align: none;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .directions-wrapper__item {
    margin-right: 0;

    & picture img {
      width: 270px;
    }
  }
}
