.directions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 87px;
  padding-bottom: 74px;
  padding-left: 88px;
  padding-right: 88px;
}

.directions-wrapper__title {
  margin-bottom: 48px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* or 42px */
  letter-spacing: 1.5px;
}

.directions-wrapper__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-top: 0;
  list-style: none;
}

.directions-wrapper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 386px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: $header-color;

  &:hover .directions-wrapper__info {
    opacity: 1;
  }
}

.directions-wrapper__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: $background-item;
  transition: all 0.5s;
}


.directions-wrapper__item-text {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1.2px;
}

.directions-wrapper__info-title {
  margin-top: 28px;
  margin-bottom: 25;
  padding-left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 1.3px;
}

.directions-wrapper__info-subtitle {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  letter-spacing: 1.3px;
}

.directions-wrapper__info-description {
  margin-top: 0;
  margin-bottom: 9px;
  padding-left: 25px;
  padding-right: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  color: $text-item;
  letter-spacing: 1px;
}

.directions-wrapper__info-button {
  @extend%button-to-book;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: $link-hover;
    cursor: pointer;
  }
}
