.main-nav {
  display: block;
}

.main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  display: block;
}

.main-nav__list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 33px;
}

.main-nav__item-elem {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $header-color;
  letter-spacing: 1.5px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: $link-hover;
  }
}

@media (max-width: $table) {
  .main-nav {
    width: 73%;
  }

  .main-nav__list {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-nav__item {
    flex-wrap: nowrap;
    padding-right: 23px;
  }

  .main-nav__item-elem {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.3px;
  }
}

@media (max-width: $mobile) {
  .main-nav {
    position: relative;
    width: 320px;
    min-height: 42px;
    text-align: center;
    margin: 0 auto;
  }

  .main-nav__toggle {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 2;
    display: block;
    width: 24px;
    height: 12px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    .main-nav--closed &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $header-color;
      box-shadow: 0 6px 0 0 $header-color, 0 12px 0 0 $header-color;
    }

    &:active::before {
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
    }

    &:hover,
    &:active {
      background-color: #ffffff;
    }
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened {
    display: flex;
    width: 320px;
    height: 298px;

    & a {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $black-color;
    }
  }

  .main-nav--opened .main-nav__list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 47px;
  }

  .main-nav--opened .main-nav__item {
    margin-bottom: 20px;
  }

  .main-nav--opened .main-nav__toggle {
    top: -36px;
    right: 40px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 19px;
      height: 2px;
      background-color: $black-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  .main-nav--nojs .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 47px;
  }

  .main-nav--nojs .main-nav__item {
    margin-bottom: 20px;

    & a {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $black-color;
    }
  }
}
