%button-to-book {
  display: block;
  width: 210px;
  height: 40px;
  margin-left: 25px;
  margin-bottom: 35px;
  margin-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  background-color: $header-color;
  letter-spacing: 0.85px;
  border-style: none;
  cursor: pointer;
}
