.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  background-image: url("../img/preview-desctop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.page-header__preview {
  display: block;
  color: $header-color;
  padding-top: 197px;
  padding-bottom: 259px;
  padding-left: 199px;
}

.page-header__preview-title {
  margin: 0;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 3.2px;
}

.page-header__preview-text {
  margin-top: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.65px;
}

.page-header__logo {
  display: block;
  width: 77px;
  height: 38px;
  padding-left: 103px;
  padding-top: 35px;
  margin-right: auto;
  cursor: pointer;
}
