.page-header {
  display: flex;
  max-width: 1366px;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  background-image: url("../img/preview-desctop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.page-header__preview {
  display: block;
  width: 637px;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 198px;
  padding-right: 530px;
  padding-top: 197px;
  padding-bottom: 259px;
  color: $header-color;

  & h2 {
    margin: 0;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: 3.2px;
  }

  & p {
    margin-top: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.65px;
  }
}

.page-header__logo {
  display: block;
  width: 77px;
  height: 38px;
  padding-left: 103px;
  padding-top: 35px;
  margin-right: auto;
  cursor: pointer;
}

.page-header__logo img {
  width: 77px;
  height: 38px;
}

@media (max-width: $table) {
  .page-header {
    background-image: url("../img/preview-tablet.jpg");
  }

  .page-header__preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 209px;
    padding-bottom: 258px;
    padding-left: 45px;
    padding-right: 0;
    margin: 0;

    & h2 {
      font-size: 50px;
      line-height: 61px;
    }

    & p {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.5px;
    }
  }

  .page-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-top: 21px;

    & svg {
      width: 38px;
      height: 20px;
    }
  }
}

@media (max-width: $mobile) {
  .page-header {
    max-width: 320px;
    background-image: url("../img/preview-mobile.jpg");
  }

  .page-header__wrapper {
    width: 100%;
  }

  .page-header__logo {
    width: 42px;
    height: 22px;
    padding-left: 15px;
    padding-top: 20px;

    & svg {
      width: 42px;
      height: 22px;
    }
  }

  .page-header__preview {
    max-width: 320px;
    width: 265px;
    flex-wrap: nowrap;
    padding-top: 134px;
    padding-bottom: 163px;
    padding-left: 15px;
    padding-right: 0;
    margin: 0;

    & h2 {
      font-size: 36px;
      line-height: 125%;
    }

    & p {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 1.5px;
    }
  }
}
