.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: $black-color;
  background-size: cover;
}

.page-footer__center {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 68px;
  padding-bottom: 50px;
}

.page-footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}

.page-footer__nav-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__nav-item {
  display: flex;
}

.page-footer__nav-item-elem {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $header-color;
  letter-spacing: 1.5px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: $link-hover;
  }
}

.page-footer__logo {
  display: block;
  width: 77px;
  height: 38px;
  cursor: pointer;
  margin-right: 20px;
}

//Социальные сети
.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.page-footer__social-item {
  margin-right: 34px;
}

.page-footer__social-link-svg {
  &--facebook {
    width: 11px;
    height: 20px;
  }

  &--instagramm {
    width: 20px;
    height: 20px;
  }

  &--twitter {
    width: 20px;
    height: 16px;
  }

  &:hover {
    stroke: rgb(25, 132, 231);
    fill: rgb(0, 0, 0);
  }
}

@media (max-width: $table) {
  .page-footer__center {
    max-width: 768px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 22px;
    padding-bottom: 35px;
  }

  .page-footer__nav {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .page-footer__logo {
    width: 38px;
    height: 20px;
    margin-right: 15px;

    & svg {
      width: 38px;
      height: 20px;
    }
  }

  .page-footer__nav-list {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .page-footer__nav-item {
    flex-wrap: nowrap;
  }

  .page-footer__nav-item-elem {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
  }

  .page-footer__social {
    width: 36%;
    justify-content: flex-end;
    padding: 0;
  }

  .page-footer__social-list {
    justify-content: space-around;
    align-items: center;
  }

  .page-footer__social-item {
    margin-right: 23px;
  }

  .page-footer__social-link {
    &--facebook {
      width: 9px;
      height: 16px;

      & svg {
        width: 9px;
        height: 16px;
      }
    }

    &--instagramm {
      width: 16px;
      height: 16px;

      & svg {
        width: 16px;
        height: 16px;
      }
    }

    &--twitter {
      width: 16px;
      height: 13px;

      & svg {
        width: 16px;
        height: 13px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .page-footer {
    width: 100%;
  }

  .page-footer__center {
    max-width: 320px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 22px;
    padding-bottom: 40px;
  }

  .page-footer__logo {
    width: 42px;
    height: 22px;
    margin-right: 0;
    margin-bottom: 28px;

    & svg {
      width: 42px;
      height: 22px;
    }
  }

  .page-footer__nav {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .page-footer__nav-list {
    align-items: flex-start;
    flex-direction: column;
  }

  .page-footer__nav-item {
    margin-bottom: 17px;
    margin-right: 0;
  }

  .page-footer__social {
    width: 39%;
  }
}
