.preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $black-color;
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 22px;
  padding-bottom: 10px;
}

.preview-wrapper__title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 1.6px;
}

.preview-wrapper__text {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: 1.2px;
}

.preview-img {
  margin-left: 88px;
}
